@import url('href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

nav .logo {
    width: 50px;
    height: auto;
    padding: 15px 0px 0px 100px;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    width: 150px;
    text-align: center;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 72);
    color: white;
}

nav {
    background: blue;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

.checkbtn {
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.checkbtn svg {
    width: 35px;
    height: auto;
}

#check {
    position: absolute;
    right: 43px;
    top: 20px;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}


/* --------body-------- */

.isi .isi1 {
    background-color: white;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.isi .isi2 {
    width: 100%;
    background-color: white;
}

.isi .isi2 .bungkus-img {
    width: 80%;
    height: auto;
    margin-left: 130px;
}

.isi .isi2 .bungkus-img img {
    width: 300px;
    height: 225px;
    padding: 25px;
    box-shadow: 5px 5px 5px grey;
}

.tooltiptext {
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

.bungkus-img .tooltip:hover .tooltiptext {
    visibility: visible;
}

.isi3 {
    width: 100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: rgb(0, 46, 145);
}

.isi3-isi {
    width: 80%;
    margin-left: 130px;
}

.isi3-judul {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.isi3-features {
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 10px 0px 0px 80px;
    padding: 60px 60px 0px 60px;
}

.isi3-features img {
    width: 100px;
    height: 100px;
}

.isi3-features h2 {
    padding: 10px 0px 10px 0px;
}

.isi3-features p {
    font-size: 17px;
}

.isi4 {
    width: 100%;
}

.isi4-judul h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 50px 0px 25px 0px;
}

.partner-logo {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 85px;
}

.partner-logo img {
    width: 200px;
    height: 200px;
}

.isideskripsi {
    padding: 30px;
}

.isideskripsi h1 {
    text-align: center;
    font-size: 50px;
}

.isideskripsi img {
    width: 1000px;
    height: 400px;
    margin-left: 100px;
    padding: 30px;
}

.isideskripsi p {
    text-align: justify;
    line-height: 30px;
}

.isi-deskripsi2 {
    padding: 30px;
}

.isi-deskripsi2 h1 {
    text-align: center;
    display: inline
}

.isi-deskripsi2 img {
    width: 500px;
    height: 400px;
    margin-left: 240px;
    padding-bottom: 30px;
}

.isi-deskripsi2 p {
    text-align: justify;
    line-height: 30px;
}

.form {
    padding-left: 10px;
}

.form h1 {
    margin-bottom: 5px;
}

.form-row {
    line-height: 30p;
}

.form-row .form-label {
    font-size: 20px;
}

.form-row .form-control {
    width: 300px;
    height: 30px;
}

.form-row .form-control1 {
    width: 300px;
    height: 100px;
}

.form-row .form-button {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
}

.form-button:hover {
    background-color: rgb(0, 0, 155);
}

.komen-list {
    margin-left: 10px;
    margin-top: 30px;
}

.komen-list .komen {
    box-shadow: 1px 1px 5px grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    width: 80%;
}

.isikomen h5 {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.isikomen h5 p {
    display: inline;
    font-size: 15px;
}

.isikomen {
    padding: 10px;
}

.isikomen1 {
    width: 80%;
    padding: 10px;
}

.komen a {
    display: block;
    margin-bottom: 10px;
}

.komen button {
    width: 100px;
    height: 30px;
    margin-left: 20px;
}


/* ini footer  */

.footer-content {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(0, 46, 145);
    color: white;
    height: 300px;
    gap: 10px;
    padding: 30px;
}

.content-about {}

.content-about img {
    width: 80px;
    height: 80px;
    margin-left: 180px;
}

.content-about p {
    font-size: 17px;
}

.content-social ul {
    list-style: none;
}

.content-social ul li {
    width: 100px;
}

.content-social ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin: 5px;
}

.content-social ul li a:hover {
    color: rgb(0, 0, 72);
    font-weight: 700;
}

.content-pesan h2 {}

.content-pesan .email {
    height: 30px;
    width: 300px;
    margin: 5px;
}

.content-pesan .isi {
    width: 300px;
    height: 100px;
    margin: 5px;
}

.content-pesan .btn {
    padding: 10px;
    margin: 5px;
}

.footer-bottom {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: blue;
    color: white;
}


/* ---------responsive--------- */

@media (max-width: 952px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        background-color: rgb(243, 243, 243);
        top: 80px;
        transition: all 1s;
        top: -100%;
        opacity: 0;
    }
    nav ul li {
        display: block;
        text-align: center;
        width: 100%;
    }
    nav ul li a {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        width: 100%;
    }
    nav ul li a:hover {
        background-color: red;
        transition: 1.5s;
    }
    #check:checked~ul {
        top: 80px;
        opacity: 1;
    }
    /* footer */
    .isi4 {
        overflow: hidden;
    }
    @media (max-width: 820px) {}
    @media (max-width: 360px) {
        nav .logo {
            padding: 15px 0px 0px 25px;
        }
    }
}